<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Candidate Portal</title>
  </head>
  <link rel="stylesheet" href="/CSS/candidatePortal.css">
  <body>

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top"> Yoga Scoring System
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="visibility: hidden;">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
          <div class="d-flex align-middle">
            <font style="color:blue">Name: #{CandidateName}</font>
          </div>
        </div>
      </div>
    </nav>
    <br>
    <h1 align="center">Welcome #{CandidateName}</h1>
    <h1 style="display: none;" id="YSS_CANDIDATE_ID">#{YSS_ID}</h1>
    <div class="d-flex" style="padding-top:50px;padding-bottom:50px;flex-direction:row;justify-content:space-around">
      <span><img src="/resources/gold_small-39fafc44b8.svg" height="80px"/><font size="100px" id="gold">19</font></span>
      <span><img src="/resources/silver_small-642ca0f0a7.svg" height="80px"/><font size="100px" id="silver">19</font></span>
      <span><img src="/resources/bronze_small-4e1f12bf64.svg" height="80px"/><font size="100px" id="bronze">19</font></span>
    </div>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" id="pastCompetitionBtn" type="button"> Past Yoga Competitions
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show">
          <div class="accordion-body" id="collapseOneBody" style="display: flex;flex-direction: column;justify-content: space-between;">
            
          </div>
        </div>
      </div>
    </div>
      <br>
      <br>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" id="upcomingCompetitionBtn" type="button">Upcoming Yoga Competitions
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse show">
          <div class="accordion-body" id="collapseTwoBody" style="display: flex;flex-direction: column;justify-content: space-between;">
          </div>
        </div>
      </div>
    </div>
    <script src="/JS/candidatePortal.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  </body>
</html>